<h1>About Page</h1>
<h2>For the cheerful and the hungry. MunchIt is a digital home for all eaters. Share your eat out adventures with friends, family and other eaters. In munching we stand united!</h2>