<div class="home-callout text-center container-fluid">
    <h1>Welcome to MunchIt!</h1>
    <h2>A fun loving hungry community, where you can share your experience and dish pics from your favourite restaurants and eateries.</h2>
    <ul>
        <li>eat</li>
        <li>share</li>
        <li>love</li>
    </ul>
</div>