<div class="home-callout text-center container-fluid">
    <h1>In Munching We Stand United</h1>
</div>
<div class="container-fluid main-banner">
    <div class="container col-md-4 col-md-offset-4 sign-up">
      <form>
       <h2>Sign Up</h2>
         <div class="form-group">
          <input type="text" class="form-control" id="f-name" placeholder="First Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="s-name" placeholder="Surname">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="zip-code" placeholder="Zip Code">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="radio">
          <label>
            <input type="radio"> I agree to terms & conditions
          </label>
        </div>
        <button type="submit" class="btn btn-default">MunchIt!</button>
      </form>
    </div>
</div>
<div class="container-fluid text-center b-banner">
  <div class="col-md-3">
    <h1>Food</h1>
    <a href="#" class="thumbnail">
      <img src="http://www.visitourchina.com/FileUpload/Tour/100709174002.jpg" alt="Food">
    </a>
  </div>
  <div class="col-md-3">
    <h1>Love</h1>
    <a href="#" class="thumbnail">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/a4/f2/db/a4f2dbaa26a6b93ca35d882a3a0ed679.jpg" alt="Love">
    </a>
  </div>
  <div class="col-md-3">
    <h1>Friends</h1>
    <a href="#" class="thumbnail">
      <img src="http://recipes.timesofindia.com/thumb/msid-50543149,width-400,resizemode-4/50543149.jpg" alt="Friends">
    </a>
  </div>
  <div class="col-md-3">
    <h1>Joy</h1>
    <a href="#" class="thumbnail">
      <img src="https://horoscope.com/DynamicPictures/guilty-pleasures-article_5732.jpg" alt="Joy">
    </a>
  </div>
</div>