<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <p>You have received a message from the MunchIt contact form. The email is from user <%= "#{ @name } - #{ @email }." %></p>
        <p>
            <%= "#{ @body }" %>
        </p>
    </body>
</html>