/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

// Font Styles
h1 {
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
    text-shadow: 1px 1px 2px #68617f;
}

h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

//Home Page Style
.home-callout, .b-banner, .footer {
    border: none;
    // Gradient provided by @_ighosh at https://uigradients.com/#
    background: #ECE9E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home-callout {
    border: none;
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.main-banner {
    background: url('foodshare.JPG');
    background-repeat: no-repeat;
    background-size: 100%;
}

//Sign Up Form

.sign-up {
    margin-top: -20px;
    margin-bottom: -20px;
    border-radius: 6px;
    color: #faebd7;
    background-color: #232526;
    opacity: 0.90;
}
textarea:focus, input:focus, .uneditable-input:focus {   
    border-color: rgba(250, 235, 215, 1) !important;
    box-shadow: 0 2px 2px rgba(250, 235, 215, 1) inset, 0 0 8px rgba(250, 235, 215, 1) !important;
    outline: 0 none !important;
}

.btn-default {
    margin-bottom: 20px;
    &:focus {
        border-color: rgba(250, 235, 215, 1) !important;
        box-shadow: 0 2px 2px rgba(250, 235, 215, 1) inset, 0 0 8px rgba(250, 235, 215, 1) !important;
        outline: 0 none !important;
    }
}

//Navbar Style
.navbar {
    border: none;
    // Gradient provided by @_ighosh at https://uigradients.com/#
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #faebd7;
    &:hover, &:focus {
        color: #faebd7;
        opacity: 0.75;
    }
}

.navbar-default .navbar-toggle {
    border: 1px solid #faebd7;
    &:hover, &:focus {
        background: #232526;
        opacity: 0.75;
    }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

//Bottom What we do panel
.b-banner {
    padding-top: 30px;
}

//Footer
.footer {
    padding: 40px 0px 20px 0px;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

